---

- name: Find all installed roles
  ansible.builtin.find:
    paths: "{{ foreman_ansible_roles_dir }}"
    file_type: directory
    recurse: false
  register: found_roles

- name: Build roles_with_requirements structure
  loop: "{{ found_roles.files | map(attribute='path') | list }}"
  ansible.builtin.set_fact:
    roles_with_requirements: >-
      {{ roles_with_requirements | default([]) + [
        {
          'role': item | basename,
          'requirements_txt': item + '/requirements.txt',
          'requirements_yml': item + '/requirements.yml'
        }
      ] }}

- name: Ensure requirements.txt is present for each role
  loop: "{{ roles_with_requirements }}"
  loop_control:
    label: "{{ item.role }}"
  ansible.builtin.stat:
    path: "{{ item.requirements_txt }}"
  register: requirements_txt_files

- name: Ensure requirements.yml is present for each role
  loop: "{{ roles_with_requirements }}"
  loop_control:
    label: "{{ item.role }}"
  ansible.builtin.stat:
    path: "{{ item.requirements_yml }}"
  register: requirements_yml_files

- name: Install Python dependencies for each role
  when: item.stat.exists and ansible_distribution != "Debian"
  loop: "{{ requirements_txt_files.results }}"
  loop_control:
    label: "{{ item.item.role }}"
  ansible.builtin.pip:
    requirements: "{{ item.item.requirements_txt }}"

- name: Install Python dependencies debian
  when: item.stat.exists and ansible_distribution != "Debian"
  loop: "{{ requirements_txt_files.results }}"
  loop_control:
    label: "{{ item.item.role }}"
  ansible.builtin.pip:
    requirements: "{{ item.item.requirements_txt }}"

- name: "Install Ansible Galaxy dependencies pre role (paths set in {{ foreman_ansible_root_dir }}/ansible.cfg)"
  become: true
  when: item.stat.exists
  loop: "{{ requirements_yml_files.results }}"
  loop_control:
    label: "{{ item.item.role }}"
  community.general.ansible_galaxy_install:
    type: both
    requirements_file: "{{ item.item.requirements_yml }}"
    state: present

...
