---

- name: Assign global parameters
  loop: "{{ foreman_global_params }}"
  loop_control:
    label: "{{ item.name }}"
  theforeman.foreman.global_parameter:
    name: "{{ item.name }}"
    parameter_type: "{{ item.parameter_type }}"
    value: "{{ item.value }}"
    state: present
    validate_certs: "{{ foreman_cert_validation }}"
    server_url: "https://{{ foreman_host_name }}"
    username: "{{ foreman_default_user }}"
    password: "{{ foreman_default_password }}"

- name: Import provisioning templates
  when: foreman_provisioning_templates is defined
  block:
    # TODO modify existing templates from foreman
    # hammer --output json -u admin -p '%!J2B7CnCTTxLM' template list
    # replace line `set timeout=20` with `set timeout=<%= host_param('local_loader_timeout') || 20 %>`
    # reupload as `PXEGrub2 default local boot config timeout`
    - name: Copy files to remote host
      loop: "{{ foreman_provisioning_templates }}"
      loop_control:
        loop_var: prov_template
        label: "{{ prov_template.name }}"
      ansible.builtin.copy:
        src: "{{ prov_template.control_node_source }}"
        dest: "{{ prov_template.file_name }}"
        mode: '0644'

    - name: Import provisioning templates
      loop: "{{ foreman_provisioning_templates }}"
      loop_control:
        loop_var: prov_template
        label: "{{ prov_template.name }}"
      theforeman.foreman.provisioning_template:
        name: "{{ prov_template.name }}"
        kind: "{{ prov_template.kind }}"
        locked: "{{ prov_template.locked }}"
        file_name: "{{ prov_template.file_name }}"
        state: "{{ prov_template.state }}"
        locations: "{{ prov_template.locations }}"
        organizations: "{{ prov_template.organizations }}"
        validate_certs: "{{ foreman_cert_validation }}"
        server_url: "https://{{ foreman_host_name }}"
        username: "{{ foreman_default_user }}"
        password: "{{ foreman_default_password }}"

- name: Import job templates
  when: foreman_job_templates is defined
  block:
    - name: Copy files to remote host
      loop: "{{ foreman_job_templates }}"
      loop_control:
        label: "{{ item.name }}"
      ansible.builtin.copy:
        src: "{{ item.control_node_source }}"
        dest: "{{ item.file_name }}"
        mode: '0644'

    - name: Add custom job templates
      loop: "{{ foreman_job_templates }}"
      loop_control:
        label: "{{ item.name }}"
      theforeman.foreman.job_template:
        name: "{{ item.name }}"
        description_format: "{{ item.description }}"
        audit_comment: "{{ item.audit_comment }}"
        file_name: "{{ item.file_name }}"
        job_category: "{{ item.job_category }}"
        provider_type: "{{ item.provider_type }}"
        snippet: "{{ item.snippet }}"
        state: present
        locations:
          - "Default Location"
        organizations:
          - "Default Organization"
        validate_certs: "{{ foreman_cert_validation }}"
        server_url: "https://{{ foreman_host_name }}"
        username: "{{ foreman_default_user }}"
        password: "{{ foreman_default_password }}"

    # TODO fix idempotence
    - name: Set as remote execution feature
      when: job_template.remote_exec_feature
      loop: "{{ foreman_job_templates }}"
      loop_control:
        loop_var: job_template
        label: "{{ job_template.name }}"
      ansible.builtin.command:
        cmd: >
          hammer
          -u {{ foreman_default_user }}
          -p '{{ foreman_default_password }}'
          remote-execution-feature update
          --id '{{ job_template.remote_exec_feature }}'
          --job-template '{{ job_template.name }}'
      register: result_remote_exec
      changed_when: result_remote_exec.rc == 0

- name: "Create Installation Media"
  loop: "{{ foreman_install_media }}"
  loop_control:
    label: "{{ item.name }}"
  theforeman.foreman.installation_medium:
    name: "{{ item.name }}"
    path: "{{ item.path }}"
    os_family: "{{ item.os_family }}"
    locations: "{{ item.locations }}"
    organizations: "{{ item.organizations }}"
    state: present
    validate_certs: "{{ foreman_cert_validation }}"
    server_url: "https://{{ foreman_host_name }}"
    username: "{{ foreman_default_user }}"
    password: "{{ foreman_default_password }}"

- name: "Create Operating System"
  loop: "{{ foreman_oss }}"
  loop_control:
    label: "{{ item.description }}"
  theforeman.foreman.operatingsystem:
    name: "{{ item.name }}"
    major: "{{ item.major }}"
    minor: "{{ item.minor }}"
    description: "{{ item.description }}"
    family: "{{ item.family }}"
    password_hash: "{{ item.password_hash }}"
    architectures: "{{ item.architectures }}"
    ptables: "{{ item.ptables }}"
    media: "{{ item.media }}"
    provisioning_templates: "{{ item.provisioning_templates }}"
    state: present
    validate_certs: "{{ foreman_cert_validation }}"
    server_url: "https://{{ foreman_host_name }}"
    username: "{{ foreman_default_user }}"
    password: "{{ foreman_default_password }}"

- name: Set default provisioning templates
  loop: "{{ foreman_oss }}"
  loop_control:
    loop_var: os
    label: "{{ os.description }}"
  ansible.builtin.include_tasks:
    file: "configure_default_templates.yml"

- name: Initialize os_by_family
  ansible.builtin.set_fact:
    os_by_family: {}

- name: Group oss per family
  loop: "{{ foreman_oss }}"
  loop_control:
    label: "{{ item.description }}"
  ansible.builtin.set_fact:
    os_by_family: >-
      {{
        os_by_family | combine({
          item.family: (os_by_family[item.family] | default([])) + [ item.description ]
        })
      }}

- name: Include provisioning templates
  loop: "{{ os_by_family | dict2items }}"
  loop_control:
    loop_var: os_family
    label: "{{ os_family.key }}"
  ansible.builtin.include_tasks:
    file: configure_os_provisioning_templates.yml

- name: "Create Domains"
  loop: "{{ foreman_domains }}"
  loop_control:
    label: "{{ item.domain_name }}"
  theforeman.foreman.domain:
    description: "{{ item.domain_description }}"
    name: "{{ item.domain_name }}"
    locations: "{{ item.domain_locations }}"
    organizations: "{{ item.domain_organizations }}"
    state: "present"
    validate_certs: "{{ foreman_cert_validation }}"
    server_url: "https://{{ foreman_host_name }}"
    username: "{{ foreman_default_user }}"
    password: "{{ foreman_default_password }}"

- name: "Create Subnets"
  loop: "{{ foreman_subnets }}"
  loop_control:
    label: "{{ item.name }}"
  theforeman.foreman.subnet:
    name: "{{ item.name }}"
    description: "{{ item.descr }}"
    network_type: "{{ item.network_type }}"
    network: "{{ item.network }}"
    cidr: "{{ item.cidr }}"
    gateway: "{{ item.gateway }}"
    dns_primary: "{{ item.dns_primary }}"
    dns_secondary: "{{ item.dns_secondary }}"
    ipam: "{{ item.ipam }}"
    from_ip: "{{ item.dhcp_start }}"
    to_ip: "{{ item.dhcp_end }}"
    vlanid: "{{ item.vlanid }}"
    mtu: "{{ item.mtu }}"
    boot_mode: "{{ item.boot_mode }}"
    remote_execution_proxies: "{{ item.remote_execution_proxies }}"
    domains: "{{ item.domains }}"
    tftp_proxy: "{{ item.tftp_proxy }}"
    locations: "{{ item.domain_locations }}"
    organizations: "{{ item.domain_organizations }}"
    state: present
    validate_certs: "{{ foreman_cert_validation }}"
    server_url: "https://{{ foreman_host_name }}"
    username: "{{ foreman_default_user }}"
    password: "{{ foreman_default_password }}"

- name: Create host groups
  loop: "{{ foreman_host_groups }}"
  loop_control:
    label: "{{ item.name }}"
  theforeman.foreman.hostgroup:
    name: "{{ item.name }}"
    description: "{{ item.description }}"
    environment: "{{ item.environment }}"
    puppet_proxy: "{{ item.puppet_proxy }}"
    puppet_ca_proxy: "{{ item.puppet_ca_proxy }}"
    ansible_roles: "{{ item.ansible_roles }}"
    subnet: "{{ item.subnet }}"
    architecture: "{{ item.architecture }}"
    operatingsystem: "{{ item.operatingsystem }}"
    medium: "{{ item.medium }}"
    ptable: "{{ item.ptable }}"
    pxe_loader: "{{ item.pxe_loader }}"
    locations: "{{ item.locations }}"
    organizations: "{{ item.organizations }}"
    parameters: "{{ item.parameters }}"
    state: present
    validate_certs: "{{ foreman_cert_validation }}"
    server_url: "https://{{ foreman_host_name }}"
    username: "{{ foreman_default_user }}"
    password: "{{ foreman_default_password }}"

- name: Get current hosts
  theforeman.foreman.host_info:
    location: "Default Location"
    organization: "Default Organization"
    validate_certs: "{{ foreman_cert_validation }}"
    server_url: "https://{{ foreman_host_name }}"
    username: "{{ foreman_default_user }}"
    password: "{{ foreman_default_password }}"
  register: present_hosts

# INFO `root_pass` is a write only parameter and will otherwise cause changes on every run
- name: Extract list of existing hostnames
  ansible.builtin.set_fact:
    existing_hostnames: "{{ present_hosts.hosts | map(attribute='name') | list }}"

- name: "Create hosts"
  loop: "{{ foreman_hosts }}"
  loop_control:
    label: "{{ item.name }}"
  theforeman.foreman.host:
    name: "{{ item.name }}"
    domain: "{{ item.domain }}"
    organization: "{{ item.organization }}"
    location: "{{ item.location }}"
    hostgroup: "{{ item.hostgroup }}"
    environment: "{{ item.environment }}"
    puppet_proxy: "{{ item.puppet_proxy }}"
    puppet_ca_proxy: "{{ item.puppet_ca_proxy }}"
    architecture: "{{ item.architecture }}"
    operatingsystem: "{{ item.operatingsystem }}"
    build: "{{ item.build }}"
    media: "{{ item.media }}"
    ptable: "{{ item.ptable }}"
    pxe_loader: "{{ item.pxe_loader }}"
    # INFO Check required for idempotence
    root_pass: >-
      {{
        (item.name not in existing_hostnames)
        | ternary(item.root_password, omit)
      }}
    interfaces_attributes: "{{ item.interfaces_attributes }}"
    parameters: "{{ item.parameters }}"
    state: present
    validate_certs: "{{ foreman_cert_validation }}"
    server_url: "https://{{ foreman_host_name }}"
    username: "{{ foreman_default_user }}"
    password: "{{ foreman_default_password }}"

- name: Configure settings
  loop: "{{ foreman_settings }}"
  loop_control:
    loop_var: setting
    label: "{{ setting.name }}"
  theforeman.foreman.setting:
    name: "{{ setting.name }}"
    value: "{{ setting.value }}"
    validate_certs: "{{ foreman_cert_validation }}"
    server_url: "https://{{ foreman_host_name }}"
    username: "{{ foreman_default_user }}"
    password: "{{ foreman_default_password }}"

...
