---

- name: Check if Foreman is running by calling API
  ansible.builtin.uri:
    url: "https://{{ ansible_facts.fqdn }}:{{ foreman_server_ssl_port }}/api/statuses"
    method: GET
    user: "{{ foreman_default_user }}"
    password: "{{ foreman_default_password }}"
    force_basic_auth: true
    validate_certs: false
    return_content: true
  register: foreman_api
  failed_when: false
  changed_when: false

- name: Extract Foreman version
  ansible.builtin.set_fact:
    installed_foreman_version: "{{ foreman_api.json.results.foreman.version | default('') }}"

- name: Include requirements
  ansible.builtin.include_tasks:
    file: "requirements.yml"

- name: Include install
  when: installed_foreman_version != foreman_version_check
  ansible.builtin.include_tasks:
    file: install.yml

- name: Gather service facts
  ansible.builtin.service_facts:

- name: Configure firewalld if available
  when: "'firewalld.service' in ansible_facts.services"
  block:
    - name: Ensure firewalld is running and enabled
      become: true
      ansible.builtin.service:
        name: firewalld
        state: started
        enabled: true

    - name: Allow services in firewalld permanently
      become: true
      loop: "{{ foreman_fw_allowed_services }}"
      ansible.posix.firewalld:
        service: "{{ item }}"
        permanent: true
        state: enabled
        immediate: true

- name: Set up ansible
  when: foreman_setup_ansible
  ansible.builtin.include_tasks:
    file: ansible.yml

- name: Include config
  ansible.builtin.include_tasks:
    file: config.yml

...
