---

- name: Ensure pip3 is installed
  become: true
  loop: "{{ foreman_system_python_packages }}"
  ansible.builtin.package:
    name: "{{ item }}"
    state: present

- name: Install Ansible
  become: true
  when: ansible_distribution != "Debian"
  ansible.builtin.pip:
    name: "{{ foreman_ansible_python_packages }}"
    state: present

- name: Install Ansible postgres dependency for Debian
  become: true
  when: ansible_distribution == "Debian"
  ansible.builtin.apt:
    name: python3-psycopg2
    state: present

- name: Set up ansible roles
  when: foreman_ansible_requirements_file_src is defined
  block:
    - name: Write ansible.cfg with custom paths
      become: true
      loop: "{{ foreman_ansible_config_options }}"
      loop_control:
        loop_var: ansible_config_option
        label: "{{ ansible_config_option.key }}"
      community.general.ini_file:
        path: "{{ foreman_ansible_root_dir }}/ansible.cfg"
        section: "{{ ansible_config_option.section }}"
        option: "{{ ansible_config_option.key }}"
        value: "{{ ansible_config_option.value }}"
        mode: '0644'

    - name: Get site-packages paths
      ansible.builtin.command:
        cmd: python3 -c "import site; print('\n'.join(site.getsitepackages()))"
      changed_when: false
      register: site_packages_paths

    - name: Remove default ansible collections path
      become: true
      loop: "{{ site_packages_paths.stdout_lines }}"
      loop_control:
        loop_var: site_packages_path
      ansible.builtin.file:
        path: "{{ foreman_ansible_default_collections_path }}"
        state: absent

    - name: Copy requirements file
      become: true
      ansible.builtin.copy:
        src: "{{ foreman_ansible_requirements_file_src }}"
        dest: "{{ foreman_ansible_requirements_file_dest }}"
        owner: "root"
        group: "root"
        mode: '0644'

    - name: "Install requirements (paths set in {{ foreman_ansible_root_dir }}/ansible.cfg)"
      become: true
      community.general.ansible_galaxy_install:
        type: both
        requirements_file: "{{ foreman_ansible_requirements_file_dest }}"
        state: present

    - name: Include role dependencies
      ansible.builtin.include_tasks:
        file: ansible_role_dependencies.yml

- name: Ensure Ruby compile packages are available
  become: true
  ansible.builtin.package:
    name: "{{ foreman_ruby_packages[ansible_os_family] }}"
    state: present

- name: Install hammer_cli_foreman_ansible Ruby gem
  become: true
  community.general.gem:
    name: hammer_cli_foreman_ansible
    state: present
    user_install: false

- name: Ensure hammer CLI module directory exists
  become: true
  ansible.builtin.file:
    path: "/etc/hammer/cli.modules.d"
    state: directory
    mode: '0755'
    owner: "root"
    group: "root"

- name: Enable hammer_ansible module
  become: true
  ansible.builtin.copy:
    dest: "/etc/hammer/cli.modules.d/foreman_ansible.yml"
    content: |
      :foreman_ansible:
        :enable_module: true
    owner: "root"
    group: "root"
    mode: '0644'

# TODO Fix on Debian12 - some manual changes might help
# sudo mkdir -p /etc/ansible/roles
# sudo chown -R foreman-proxy: /etc/ansible/roles
# Add to :roles_path: /etc/ansible/roles `/etc/foreman-proxy/settings.d/ansible.yml`
- name: Fetch ansible roles from smart-proxy
  ansible.builtin.command:
    cmd: >
      hammer
      --output json
      -u {{ foreman_default_user }}
      -p '{{ foreman_default_password }}'
      ansible roles fetch
      --proxy-id 1
  register: fetched_roles
  changed_when: false

- name: Parse fetched role names
  ansible.builtin.set_fact:
    fetched_role_names: >-
      {{
        (fetched_roles.stdout | from_json)[0]['Ansible roles available to be imported'].values()
        | map(attribute='Role Name') | list
      }}

- name: Get already imported roles
  ansible.builtin.command:
    cmd: >
      hammer
      --output json
      -u {{ foreman_default_user }}
      -p '{{ foreman_default_password }}'
      ansible roles list
  register: imported_roles
  changed_when: false

- name: Parse imported role names
  ansible.builtin.set_fact:
    imported_role_names: >-
      {{
        imported_roles.stdout | from_json | map(attribute='Name') | list
      }}

- name: Determine roles to import
  ansible.builtin.set_fact:
    roles_to_import: "{{ fetched_role_names | difference(imported_role_names) }}"

- name: Import ansible roles from smart-proxy
  ansible.builtin.command:
    cmd: >
      hammer
      -u {{ foreman_default_user }}
      -p '{{ foreman_default_password }}'
      ansible roles import
      --proxy-id 1
  when: roles_to_import | length > 0
  register: result
  changed_when: result.rc == 0

- name: Set default users
  when: foreman_default_users_src is defined
  block:
    - name: Copy default users
      become: true
      ansible.builtin.copy:
        src: "{{ foreman_default_users_src }}"
        dest: "{{ foreman_default_users_file_dest }}"
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_gid }}"
        mode: '0644'

...
